Data/Test PIVChallenge3A4/*.tif
Data/Test PIVChallenge3A1/*.tif
Data/Test PIVChallenge3A2/*.tif
Data/Test PIVChallenge3A3/*.tif
Data/Test Tububu/pivOut/*
Data/Test Tububu/pivOut_multicore/*
Data/Test Tububu - spOut/*
